---
pagination:
  data: links
  size: 1
  alias: link
permalink: "{{ link }}/"
---
{# https://github.com/jstayton/suri/blob/master/src/links.njk #}
<!DOCTYPE html>
<html>
<head>
<title>Redirecting...</title>
<meta http-equiv=refresh content="0; url={{ links[link] }}">
</head>
<body style="background-color: #304e24; color: #f4f4f2;">
<p>Redirecting to <a style="color: #f4f4f2" href="{{ links[link] }}">{{ links[link] }}</a></p>
</html>