@use "../variables" as *;
@use "../layout" as *;
$margin-vertical: 0.5em;
$margin-horizontal: 0.2em;
$header-padding: ($header-height - $text-size)/2;
$breakpoint: 40rem;

.header, footer {
    min-height: $header-height;
    background-color: $header-color;
    color: $color-light;
    padding: $header-padding calc($header-padding + ($margin-vertical - $margin-horizontal));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    p {
        padding: 0;
        margin: $margin-vertical $margin-horizontal;
    }
    @media (min-width: $breakpoint) {
        .header-breadcrumbs {
            margin-inline-start: 0.5em;
        }
        .header-menu {
            margin-inline-end: 0.5em;
            transform-origin: top;
            transform: scaleY(1);
        }
    }
    @media (max-width: $breakpoint) {
        .header-menu {
            flex-basis: 100%;
        }
    }
    button {
        flex-grow: 1;
    }
    ol, ul {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: fit-content;
        white-space: nowrap;
        flex-grow: 3;
        li {
            display: inline-block;
            height: fit-content;
            margin: $margin-vertical $margin-horizontal;
            &::after {
                content: " ● ";
            }
            &:last-child::after {
            content: none;
            }
            &.header-logo {
                margin-right: 1em;
                img {
                     min-width: 100%;
                }
                &::after {
                    content: none;
                }
            }
            a {
                height: fit-content;
                display: inline-block;
            }
            img {
                height: 1.5em;
            }
        }
        @media (max-width: $breakpoint) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            white-space: normal;
            & li::after {
                content: none;
            }
        }
    }
}


.header {
    --breakpoint: 35em;
}
footer {
    flex-direction: column;
    --breakpoint: 50em;
}

@media (max-width: $breakpoint) {
    #menu[data-closed] {
        transform: scaleY(0);
        height: 0;
    }
    // :has([data-closed]) {
    //     height: 3.9em;
    // }
}