@use "../variables" as *;
@use "../layout" as *;
$margin-vertical: 0.5em;
$margin-horizontal: 0.2em;
$header-padding: ($header-height - $text-size)/2;
$breakpoint: 40rem;
$button-color: rgb(244, 244, 242);
$svg-open: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$button-color}" stroke-width="2"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>');
$svg-closed: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$button-color}" stroke-width="2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');

.header, footer {
    min-height: $header-height;
    background-color: $header-color;
    color: $color-light;
    padding: $header-padding calc($header-padding + ($margin-vertical - $margin-horizontal));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    p {
        padding: 0;
        margin: $margin-vertical $margin-horizontal;
    }
    @media (min-width: $breakpoint) {
        .header-breadcrumbs {
            margin-inline-start: 0.5em;
        }
        .header-menu {
            margin-inline-end: 0.5em;
            transform-origin: top;
            transform: scaleY(1);
            justify-content: flex-end;
        }
        button {
            display: none;
        }
    }
    @media (max-width: $breakpoint) {
        .header-menu {
            flex-basis: 100%;
        }
    }
    button {
        height: 1.5em;
        width: 1.5em;
        margin: auto 0;
        background-image: $svg-open;
        background-color: transparent;
        border: none;
        &.-open {
            background-image: $svg-closed;
        }
    }
    ol, ul {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: fit-content;
        white-space: nowrap;
        li {
            display: inline-block;
            height: fit-content;
            margin: $margin-vertical $margin-horizontal;
            &::after {
                content: " ● ";
            }
            &:last-child::after {
            content: none;
            }
            &.header-logo {
                margin-right: 1em;
                img {
                     min-width: 100%;
                }
                &::after {
                    content: none;
                }
            }
            a {
                height: fit-content;
                display: inline-block;
            }
            img {
                height: 1.5em;
            }
        }
        @media (max-width: $breakpoint) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            white-space: normal;
            & li::after {
                content: none;
            }
        }
    }
}


.header {
    --breakpoint: 35em;
}
footer {
    flex-direction: column;
    --breakpoint: 50em;
}

@media (max-width: $breakpoint) {
    #menu[data-closed] {
        transform: scaleY(0);
        height: 0;
    }
    // :has([data-closed]) {
    //     height: 3.9em;
    // }
}