<footer>
    <p>Copyright {{ page.date | year }} {% if author %}{{ author }} and {% endif %}{{ metadata.title }}</p>
    <p class="print-hide">Website by <a href="https://micah.torcellini.org">Micah Torcellini</a></p>
    <p class="screen-hide">{{ metadata.citationurl }}{{ page.url | url }}</p>
</footer>