<footer>
    <ul>
        <li class="print-hide"><a href="/donate/">Support</a></li>
        <li class="print-hide"><a href="/subscribe/">Subscribe</a></li>
        <li class="print-hide"><a href="/submissions/">Submissions</a></li>
        <li class="print-hide"><a href="/staff/">Who We Are</a></li>  
        <li class="print-hide"><a href="/feed.xml">Feed</a></li>
        <li>Copyright {{ page.date | year }} {% if author %}{{ author }} and {% endif %}{{ metadata.title }}</li>
        <li class="print-hide">Website by <a href="https://micah.torcellini.org">Micah Torcellini</a></li>
    </ul>
    <ul class="screen-hide"><li>{{ metadata.citationurl }}{{ page.url | url }}</ul>
</footer>