<nav class="header">
    <ol class="header-breadcrumbs print-hide">
        {% set continue = true %}
        <li class="header-logo"><a href="/"
            {% if page.url == "/" %}
                aria-current="page"
                {% set continue = false %}
            {% endif %}
            ><img src="/assets/images/header-white.svg" alt="The Eastford Communicator" width="314" height="62"></a></li>
        {% if issue and continue %}
            <li><a href="/{{ issue.volume or volume }}/{{ issue.issue or issue }}/"
                {% if tags == "issue" %}
                    aria-current="page"
                    {% set continue  = false %}
                {% endif %}>
                vol. {{ issue.volume or volume }}, issue {{ issue.issue or issue }}
            </a></li>
        {% endif %}
        {% if continue %}
            <li><a href="{{ page.url }}" aria-current="page">{{ title | safe }}</a></li>
        {% endif %}
    </ol>

    <button id="toggle" aria-label="toggle menu" class="print-hide"></button>
    <ul class="header-menu" id="menu">
        <li class="print-hide"><a href="/#current">Current Issue</a></li>
        <li class="print-hide"><a href="/#archive">Archive</a></li>
        <li class="print-hide"><a href="/donate/">Support</a></li>
        <li class="print-hide"><a href="/subscribe/">Subscribe</a></li>
        <li class="print-hide"><a href="/advertise/">Advertise</a></li>
        <li class="print-hide"><a href="/submissions/">Submissions</a></li>
        <li class="print-hide"><a href="/people/">Who We Are</a></li>  
    </ul>
        <script>
        var button = document.querySelector("#toggle");
        var menu = document.querySelector("#menu");
        menu.setAttribute("data-closed", "")
        button.addEventListener("click", function() {
            menu.toggleAttribute("data-closed");
            button.classList.toggle("-open");
        });
    </script>
</nav>