---
title: The Eastford Communicator
layout: base
permalink: "/"
---
<h1 class="communicator-header"><img src="/assets/images/header-with-text.svg" alt="The Eastford Communicator" width="493.76" height="156.6"></h1>
{% for banner in collections.banner %}
    <aside class="banner"><a href="{{ banner.url }}" class="banner_link">
        <h2>{{ banner.data.bannertitle or banner.data.title }}</h2>
        <p class="banner_paragraph">{{ banner.data.bannertext | safe }}</p>
    </a></aside>
{% endfor %}

{% set issues = fetchIssues  %}
{% for issue in issues | reverse %}
    <article>
        <h2><a href="/{{ issue.volume }}/{{ issue.issue }}/">
            vol. {{ issue.volume }}, no. {{ issue.issue }}, {{ issue.date | parseDate | readableDate }}</a></h2>
            {% set collection = issue.volume + "_" + issue.issue %}
            {% set postlist = collections.article | sortByLayoutNumber %}
            {% include "components/postlist.njk" %}
    </article>
{% endfor %}
