---
title: The Eastford Communicator
layout: base
permalink: "/"
---
<h1 class="communicator-header"><img src="/assets/images/header-with-text.svg" alt="The Eastford Communicator" width="494" height="157"></h1>
{% for banner in collections.banner %}
    <aside class="banner"><a href="{{ banner.url }}" class="banner_link">
        <h2>{{ banner.data.bannertitle or banner.data.title }}</h2>
        <p class="banner_paragraph">{{ banner.data.bannertext | safe }}</p>
    </a></aside>
{% endfor %}

{% set issues = fetchIssues  %}
<section id="current">
    {% set currentIssue = issues[issues.length - 1] %}
    <article>
    <h2><a href="/{{ currentIssue.volume }}/{{ currentIssue.issue }}/">Current Issue: 
            vol. {{ currentIssue.volume }}, no. {{ currentIssue.issue }}, {{ currentIssue.date | parseDate | readableDate }}</a></h2>
            {% set collection = currentIssue.volume + "_" + currentIssue.issue %}
            {% set postlist = collections.article | sortByLayoutNumber %}
            <ul reversed class="postlist">
            {% for post in postlist | reverse %}{% if post.data.volume == currentIssue.volume and post.data.issue == currentIssue.issue %}
                <li class="postlist__item"><article>
                <h3><a href="{{ post.url | url }}" class="postlist__item__link"><span class="postlist__item__title">{% if post.data.title %}{{ post.data.title | safe }}{% else %}<code>{{ post.url }}</code>{% endif %}</span>{% if post.data.author %}, <span class="postlist__item__author">{{ post.data.author }}</span>{% endif %}</a></h3>
                <p>{{ post.content | excerpt }}</p>
                </article></li>
            {% endif %}{% endfor %}
</ul>
    </article>
</section>
<section id="archive">
    <h2>Archived Issues</h2>
{% for issue in issues | reverse %}
    <article>
        <h3><a href="/{{ issue.volume }}/{{ issue.issue }}/">
            vol. {{ issue.volume }}, no. {{ issue.issue }}, {{ issue.date | parseDate | readableDate }}</a></h2>
    </article>
{% endfor %}
</section>
