---
pagination:
  data: fetchIssues
  alias: issue
  size: 1
layout: base
tags: issue
eleventyComputed:
  title: "{{ metadata.title }} vol. {{ issue.volume }}, no. {{ issue.issue }}: {{ issue.issueTitle }}"
permalink: "/{{ issue.volume }}/{{ issue.issue }}/"
---
<h1>{{ metadata.title }} vol. {{ issue.volume }}, no. {{ issue.issue }}</h1>
  {% set collection = issue.volume + "_" + issue.issue %}
  {% set postlist = collections.article | sortByLayoutNumber %}
  {% include "components/postlist.njk" %}
  {% if issue.pdfUrl %}
  <p><a href="{{ issue.pdfUrl }}">View as PDF</a></p>
  {% endif %}