---
layout: base
eleventyComputed:
    pageTitle: "{{ title | striptags}} | {{ metadata.short_title }} vol. {{ volume}}, no. {{ issue }}"
    tags: ["{{ volume }}_{{ issue }}", "article"]
    permalink: "{{ volume }}/{{ issue }}/{{ page.fileSlug }}/"
---
<h1>{{ title | safe  | shortTitle }}</h1>
{% set subtitle = title | safe | subtitle %}
{% if subtitle %}
    <p class="subtitle">{{ subtitle | safe }}</p>
{% endif %}
<p class="author name"><a href="/authors/{{ author | slugify }}/">{{ author }}</a></p>
{{ content | safe}}
{% if authordescription %}
<p class="author description">{{ authordescription }}</p>
{% endif %}
{% if author and collections.article | filterByAuthor( author ) | length > 1 %}
<p><a href="/authors/{{ author | slugify }}/">Read more of this author's articles.</a></p>
{% endif %}